{{extend 'layout.html'}}
<style>
#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
}
#share-footer-container{margin-left:5%;margin-right:5%;}
#right { 
	padding-right:3%;
	width: 255px;
	float: right;
	padding-left:5px;
	//padding-right:5px; 
	border-left:1px solid rgb(238,238,238);  
	border-bottom:1px solid rgb(238,238,238);  

}
</style>
<div id="index-header">
    <div id="index-header-container">
		<h3>about</h3>
    </div>
</div>
<div style="background-image: url(../conexus/static/images/pattern.jpg); height: 50px;background-position:888px">
</div>
<br><br>


<div id="right">
	We're alongside you on this journey<br>
	Our goal is to create a transparent community of makers who seek collaboration, education, and creation.<br>
	Joining our community is an opportunity to solve interesting problems, learn valuable lessons, and work with talented people around the world.<br>
	We can't wait to see what we make together.<br>
	<a class="btn" href="/discover/">discover</a>
</div>

<div>
	<div style="display:inline-block;">
		<img style="height:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/> 
	</div>
	<div style="display:inline-block;">
	Getting Started<br>
	By trade, we may be developers, designers, writers, and marketers—but at heart, we're makers.<br>
	conex.us is where we band together to build.<br>
	collaborative competition, hackathon it up<br>
	If you want to challenge yourself, learn alongside peers and make a meaningful contribution to a project you believe in, conex.us is for you. We're a community that crafts impactful products, together.<br>
	</div>
	<div style="clear:both"></div>
</div>
<br><hr><br>
<div style="background-color:rgb(240,240,240);">
	<div style="display:inline-block;">
		<img style="height:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/> 
	</div>
	<div style="display:inline-block;">

	Collaboration<br>
	Products on conex.us are crowd-founded. Anyone can submit an idea, and anyone can join the team and get that product to market.<br>
	Starts generating value, the profits are split each month among everyone who helped create based on the percentage of ownership each person has. This is done though epoint.me<br>

	</div>
	<div style="clear:both"></div>
</div>
<br><hr><br>
<div>
	<div style="display:inline-block;">
		<img style="height:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/> 
	</div>
	<div style="display:inline-block;">
		<p class="lead">this is some text</p>
		<p class="lead">this is some text</p>
		<p class="lead">this is some text</p>
		<p class="lead">this is some text</p>
	</div>
	<div style="clear:both"></div>
</div>
<br><hr><br>

<div class="centered-width">

	<p class="lead" style="text-align:center;">conex.us is a trasparency team building repo</p>
	<p class="lead" style="text-align:center;">conex.us is a 24/7 hour global hackaton</p>
	<p class="lead" style="text-align:center;">what's the direction? you decide.</p>
	<p class="lead" style="text-align:center;">crowd sourced and crowd funded projects that are transparent</p>
	<p class="lead" style="text-align:center;">crowd funded events</p>
	<p class="lead" style="text-align:center;">time restricted motivation. setting deadlines.</p>
	<p class="lead" style="text-align:center;">crowd sourcing for development, place your project bid</p>
	<hr>
	<p class="lead" style="text-align:center;"><a href="/tasks/">view tasklists</a></p>
	<p class="lead" style="text-align:center;">collaboration is key</p>
	<p class="lead" style="text-align:center;">conex.us is all about learning, check out the inlrn academies.</p>
	<hr>
	<p class="lead" style="text-align:center;">connected to givingfor. crowdfunding</p>
	<p class="lead" style="text-align:center;">connected to voetr. democratic</p>
</div>



<br><br><br><br>
