{{extend 'layout.html'}}
<style>
#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
}
#share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<div id="index-header">
    <div id="index-header-container">
		<h3>about</h3>
    </div>
</div>
<br><br>
<div class="centered-width">
	<p class="lead" style="text-align:center;">conex.us is a trasparency team building repo</p>
	<p class="lead" style="text-align:center;">conex.us is a 24/7 hour global hackaton</p>
	<p class="lead" style="text-align:center;">what's the direction? you decide.</p>
	<p class="lead" style="text-align:center;">crowd sourced and crowd funded projects that are transparent</p>
	<p class="lead" style="text-align:center;">crowd funded events</p>
	<p class="lead" style="text-align:center;">time restricted motivation. setting deadlines.</p>
	<p class="lead" style="text-align:center;">crowd sourcing for development, place your project bid</p>
	<hr>
	<p class="lead" style="text-align:center;"><a href="/tasks/">view tasklists</a></p>
	<p class="lead" style="text-align:center;">collaboration is key</p>
	<p class="lead" style="text-align:center;">conex.us is all about learning, check out the inlrn academies.</p>
	<hr>
	<p class="lead" style="text-align:center;">connected to givingfor. crowdfunding</p>
	<p class="lead" style="text-align:center;">connected to voetr. democratic</p>
</div>
