{{extend 'layout.html'}}
<style>
#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
}
#share-footer-container{margin-left:5%;margin-right:5%;}
</style>
<div id="index-header">
    <div id="index-header-container">
		<h1>events</h1><br>
		<p>this a filter</p>
    </div>
</div>

<div style="margin-left:5%;">

	<p class="lead" style="text-align:center">trending events</p>
	<p class="lead" style="text-align:center">local</p>
    <a data-toggle="modal" href="#new-event" class="lead" style="text-align:center">+ new event</a>


	{{for event in event_list:}}
		<h3><a href="/event/{{=event['url_title']}}/">{{=event['title']}}</a></h3>
	{{pass}}

</div>


<br><br><br><br>


<div class="modal fade" id="new-event" style="display:none;">
    <div class="modal-header" id="new-event-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>+ new event</h3>
    </div>
    <br>
    <div class="modal-body" style="">
        <p class="lead">description and such
        <div id="external-login" style="display: table;margin: 0 auto;">
        <a id="facebook-login">table link 1</a>
        <a id="twitter-login">table link 2</a>
        <a id="google-login">table link 3</a> 
        </div>
    </div>
    <div class="modal-footer">
        footer
    </div>
</div> 

<script>
    $("#new-event" ).draggable({handle:"#new-event-header", cursor:"move"}); 
</script>