{{extend 'layout.html'}}
<style>
#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
}
#share-footer-container{margin-left:5%;margin-right:5%;}
#item-block-list-container{text-align:center;width:100%;}
#item-block-list-item{border:2px solid rgb(210,210,210);display:inline-block;padding:10px;margin:7px;border-radius:5px;}
#item-block-list-item:hover{border:2px solid rgb(110,110,110);display:inline-block;padding:11px;margin:7px;background-color:rgb(255,255,255);border-radius:5px;}

#left {
    width: 175px; 
    float: left;
    border-right:1px solid rgb(238,238,238);  
    padding-left:15px;    
}
#collapsed-left {
        float: left;
        border-bottom:1px solid rgb(238,238,238);
        border-right:1px solid rgb(238,238,238);
        padding-left:7px;
        padding-right:7px;
}
#collapsed-left:hover {
        float: left;
        padding-left:7px;
        padding-right:7px;
        background-color:rgb(245,245,248);
        border-right:1px solid rgb(235,235,238);
        border-bottom:1px solid rgb(235,235,238)
}
#collapse-left {
        padding-left:5px;
        padding-right:5px;
        float:right;
        border-left:1px solid rgb(238,238,238);
        border-bottom:1px solid rgb(238,238,238);
}
#collapse-left:hover {
        padding-left:5px;
        padding-right:5px;
        float:right;
        background-color:rgb(245,245,248);
        border-left:1px solid rgb(235,235,238);
        border-bottom:1px solid rgb(235,235,238) 
}
</style>
<div id="index-header">
    <div id="index-header-container">
        <h3 style="color:rgb(80, 84, 92);font-size:45px;float:left"><i class="fa fa-calendar-o"></i> events</h3><br>
        <a data-toggle="modal" href="#new-event" class="lead btn" style="text-align:center;float:right">+ new event</a>
        <div style="clear:both;"></div>
    </div>
</div>
<div style="background-image: url(../conexus/static/images/pattern.jpg); height: 50px;background-position:400px">
</div>
<div style="margin-left:5%;">

    <div id="collapsed-left" style="display:none;">
        <a id="open-left">
            <div style="">
                <h5 title="expand" style="margin:0px;padding:3px;"> >> </h5>
            </div>
        </a>
    </div>

    <div id="left">
        <p class="lead">location filter</p>
       <p class="lead">tags</p>
       {{for x in range(10):}}
            <p class="lead">{{=x}}</p>
       {{pass}}
       <div style="clear:both"></div>
    </div>


    <div class="dropdown" style="float:right;margin-right:15px;">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">sort by: <b style="margin-left:5px;"class="caret"></b></a>
        <ul class="dropdown-menu pull-right" style="left:auto;width:158px;min-width:0px;" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="#">most recent</a></li>
            <li><a tabindex="-1" href="#">relevancy</a></li>
            <li><a tabindex="-1" href="#">highest price</a></li>
            <li><a tabindex="-1" href="#">lowest price</a></li>
        </ul>
    </div>
    <div class="btn-toolbar" style="margin-left:15px;float:left;">
        <div class="btn-group">
            <a class="btn active" id="view-list"><i class="icon-align-justify"></i></a>
            <a class="btn" id="view-table"><i class="icon-th"></i></a>
            <a class="btn" id="view-calendar"><i class="fa fa-calendar"></i></a>

        </div>
    </div>
    <hr><br>

    <div id="item-list-container" style="">
        {{for event in event_list:}}
            <h3><a href="/event/{{=event['url_title']}}/">{{=event['title']}}</a></h3>
        {{pass}}
    </div>
    <div id="item-block-list-container" style="display:none;">
        {{for event in event_list:}}
            <div id="item-block-list-item">
                <h4><a href="/event/{{=event['title']}}">{{=event['title']}}</a></h4>
                <a href="/event/{{=event['title']}}"><img class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
                <h4><a href="/event/{{=event['title']}}">details</a></h4>
            </div>
        {{pass}}
    </div>
</div>


<br><br><br><br>


<div class="modal fade" id="new-event" style="display:none;">
    <div class="modal-header" id="new-event-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>+ new event</h3>
    </div>
    <br>
    <div class="modal-body" style="">
       {{=form_create_event}}
    </div>
    <div class="modal-footer">
        
    </div>
</div> 

<script>
    $("#new-event" ).draggable({handle:"#new-event-header", cursor:"move"}); 
    $("#view-list").click(function() {
        if ($(this).hasClass("active")){}
        else{
            $(this).addClass("active");
            $("#view-table").removeClass("active");
            $("#item-block-list-container").fadeToggle(); 
            $("#item-list-container").fadeToggle();
        }
    });
    $("#view-table").click(function() {
        if ($(this).hasClass("active")){}
        else{
            $(this).addClass("active");
            $("#view-list").removeClass("active");
            $("#item-block-list-container").fadeToggle(); 
            $("#item-list-container").fadeToggle();
        }
    });
</script>
