{{extend 'layout.html'}}
<style>
#contentwrapper{
    
    //float: left;
    width: 100%;      
}               
#content { 
        //margin: 0 280px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/   
}
#right { 
        float: right;
        width: 255px;
    	border-left:1px solid rgb(238,238,238);
		border-bottom:1px solid rgb(238,238,238);
        padding-left:15px;
		padding-right:15px;
		padding-bottom:15px;
}
#left {
    float: left;
    width: 175px;
    border-right:1px solid rgb(238,238,238);
	border-bottom:1px solid rgb(238,238,238);
    padding-left:15px;
	padding-bottom:15px;
}
</style>

<div id="left">
    {{for message in message_list:}}
        <h5><a>{{=message['message_title']}}</a>, people</h5>
    {{pass}}  
</div>

<div id="right">
	<a class="btn">+ new message</a>
    <br><br>
    {{=form_create_message}}
    <h4>search</h4>
    

</div>
<div id="contentwrapper">
    <div id="content">
        <div class="btn-group">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                    <span class="caret"></span>
                </button>
            <ul class="dropdown-menu">
                <li><a href="#">add member</a></li>
                <li><a href="#">leave message</a></li>
                <li><a href="#">add / edit title</a></li>
            </ul>
            </div>
        </div>


        {{for message in message_list:}}
            {{=XML(message['message_content'])}}
            <br><hr>
        {{pass}}

    </div>
</div>
