{{extend 'layout.html'}}
<style>
#index-header{
    //background-color:rgb(247,247,247);
    background-color:rgb(52,73,94);

    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
#index-header p{color:rgb(200,200,200);}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
}
#share-footer-container{margin-left:5%;margin-right:5%;}
#project-list-container{text-align:left;width:100%;}
#project-list-item{border:2px solid rgb(180,180,180);display:inline-block;padding:10px;margin:7px;border-radius:5px;}
#project-list-item:hover{border:2px solid rgb(110,110,110);display:inline-block;padding:10px;margin:7px;background-color:rgb(255,255,255);border-radius:5px;}
#scroller{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
.banner-area p{color:rgb(255,255,255);}
#header-icons a{color:rgb(52,73,94);}
#map img{
    max-width: none;
}
</style>

<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.selection.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.time.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.thumbnailScroller.js')}}"></script>
<script>
$(function() {
    $('.scroller').click(function(){
        $('html, body').animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
        }, 500);
        return false;
    });

});

</script>
<div id="index-header">
    <div id="index-header-container">
		<p class="lead">conexus is a team building repo</p>
		<p class="lead">paving the way for a transparent future</p>
    </div>
</div>
<div style="background-image: url(../conexus/static/images/pattern.jpg); height: 440px;">

    <br><br><br>
    <p style="font-size:48px;color:rgb(240,240,240);text-align:center">watch the world create</p>
    <p style="font-size:30px;color:rgb(230,230,230);text-align:center">a transparent + opensource network</p>
    <br><br>
<div id="header-icons">
    <a href="#events" class="scroller" style="margin-left:8%;">
        <span class="fa-stack fa-lg">
          <i style="font-size:128px;border:1px solid rgb(100,100,100)" class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i style="font-size:64px;margin-top:43px;margin-left:25px;" class="fa fa-calendar-o fa-stack-1x"></i>
        </span>
    </a>
    <a href="#discover" class="scroller" style="margin-left:8%;">
        <span class="fa-stack fa-lg">
          <i style="font-size:128px;" class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i style="font-size:64px;margin-top:43px;margin-left:25px;" class="fa fa-random fa-stack-1x"></i>
        </span>
    </a>
    <a href="#projects" class="scroller" style="margin-left:8%;">
        <span class="fa-stack fa-lg">
          <i style="font-size:128px;" class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i style="font-size:64px;margin-top:43px;margin-left:25px;" class="fa fa-wrench fa-stack-1x"></i>
        </span>
    </a>
    <a href="#projects" class="scroller" style="margin-left:8%;">
        <span class="fa-stack fa-lg">
          <i style="font-size:128px;" class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i style="font-size:64px;margin-top:43px;margin-left:25px;" class="fa fa-video-camera fa-stack-1x"></i>
        </span>
    </a>
    <div style="text-align:center">
    <div style="padding:15px;background-color:rgba(0,0,0,0.4);color:white;display:inline-block;border:1px solid rgb(150,150,150);border-radius:5px;margin-left:30%;">
        <h1 style="color:rgb(240,240,240);margin-left:35px;">discover, signup, etc</h1>
        <input type="text">
        <div class="input-append">
            <input type="text">
            <div class="btn-group" style="margin-top:0px;">
                <a href="/search/"><button class="btn" tabindex="-1"><i class="icon-search"></i></button></a>          
            </div>
             <div class="btn-group">
              <a href="#test" class="btn btn-primary">info</a>
              <a href="/discover" class="btn btn-success">discover</a>
              <a href="/about/" class="btn btn-default">learn more</a>
            </div>
        </div>
    </div>
    </div>
    <a href="#projects" class="scroller" style="margin-left:8%;">
        <span class="fa-stack fa-lg">
          <i style="font-size:128px;" class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i style="font-size:64px;margin-top:43px;margin-left:25px;" class="fa fa-eye fa-stack-1x"></i>
        </span>
    </a>
    <a href="#projects" class="scroller" style="margin-left:8%;">
        <span class="fa-stack fa-lg">
          <i style="font-size:128px;" class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i style="font-size:64px;margin-top:43px;margin-left:25px;" class="fa fa-money fa-stack-1x"></i>
        </span>
    </a>
    <a href="#projects" class="scroller" style="margin-left:8%;">
        <span class="fa-stack fa-lg">
          <i style="font-size:128px;" class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i style="font-size:64px;margin-top:43px;margin-left:25px;" class="fa fa-tasks fa-stack-1x"></i>
        </span>
    </a>
    <a href="#projects" class="scroller" style="margin-left:8%;">
        <span class="fa-stack fa-lg">
          <i style="font-size:128px;" class="fa fa-circle fa-stack-2x fa-inverse"></i>
          <i style="font-size:64px;margin-top:43px;margin-left:25px;" class="fa fa-users fa-stack-1x"></i>
        </span>
    </a>
    
</div>
    <br><br>
    <br><br>
</div>
<div id="scroller">
    <br><br><br>
    <p style="font-size:100px;text-align:center;color:rgb(70,70,70)">collaboration</p><br><br><br>
    <p class="lead" style="text-align:center;">let's make the world a better place, together.</p>

    <br>
</div>
<div class="centered-width">

<hr>
    <table style="margin-left:auto;margin-right:auto">
        <tr>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/discover/">discover</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/events/">events</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/projects/">projects</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/tasks/">tasks</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/feed/">feed</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/streams/">streams</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/transparency/">transparency</a></p></td>
        </tr>
    </table>
    <table style="margin-left:auto;margin-right:auto">
        <tr>
            <td style="padding:25px;"><i style="font-size:96px;" class="fa fa-users"></i></td>
            <td style="padding:25px;"><i style="font-size:96px;" class="fa fa-bullhorn"></i></td>
            <td style="padding:25px;"><i style="font-size:96px;" class="fa fa-wrench"></i></td>
            <td style="padding:25px;"><i style="font-size:96px;" class="fa fa-calendar-o"></i></td>
            <td style="padding:25px;"><i style="font-size:96px;" class="fa fa-money"></i></td>
            <td style="padding:25px;"><i style="font-size:96px;" class="fa fa-thumbs-up"></i></td>

        </tr>
    </table>

    <br><br><br>
    <table style="margin-left:auto;margin-right:auto">
        <tr>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;">how can we work together for a common goal?</p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;">imagine a 24/7 global hackaton</p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;">crowdsourced team building</p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;">earn value though working together</p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;">when a fire starts to burn, it starts to spread<span style="font-size:32px;" class="icon-fire"></span></p></td>
        </tr>
    </table>

<hr>
</div>

    state problem --> state solution --> state who the solution benifits<br>
    conex.us is a platform for creating crowd-founded, open source projects built and owned by their makers. Talented minds everywhere are invited to help, and success is shared equitably.<br>
    anyone can jump in and help out a startup on conex.us. The entire process is a collaborative effort including its vision, development, design, and marketing.<br>
    traditional comanpy vs. open source vs. side project.<br>
    transparent world<br>
    live streaming life<br>
    groups<br>


<div style="background-image: url(../conexus/static/images/global_map.svg); height: 300px; background-repeat:no-repeat;background-color:rgb(247,247,247);background-position:center;opacity:.2">
    
</div>
<br><br><br>


<style>
.image-hover {
    position:relative;
}
.image-hover:after, .image-hover:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image-hover:after {
    //content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.image-hover:before {
    content: attr(data-content);
    color:#fff;
    padding:4px 10px;
    z-index:1;
    text-align:center;
    bottom:50%;
    font-size:20px;
    box-sizing:border-box;
    background:rgb(200,200,200);

}
.image-hover:hover:after, .image-hover:hover:before {
    opacity:1;
}


</style>

<div class="centered-width">

    <p class="lead" style="text-align:left;text-align:center"><a href="/streams/"><i style="font-size:64px;margin-right:15px;" class="fa fa-video-camera"></i></a></p><hr>
    {{for x in range(5):}}
        <div id="project-list-item" data-content="Text added on hover" class="image-hover">
            <p>streaming name</p>
            <a href="/stream/{{=x}}/"><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/play.jpg"/></a>
        </div>
    {{pass}}
    <hr><br><br>
</div>

<br><br>
<div class="banner-area" id="connecting-us" style="background-color:rgb(24,95,192);border-bottom:3px solid rgb(220,220,220)">
    <br><br><br>
    <p style="float:left;margin-left:6%;color:rgb(200,200,200);font-size:24px;font-family:ubuntu;font-weight:bold;">connecting us</p> 
    <p style="float:right;margin-right:6%;disply:inline"><i style="font-size:96px;margin-top:-32px" class="fa fa-users fa-inverse"></i></p><br>

    <br><br><br>
</div>
<script>
	{{an_array=[]}}
    {{import time}}
    {{array = [1,2,3,4,5]}}
    {{for counter, value in enumerate(array):}}
        {{an_array.append([ value*1000, int(value) ])}}
    {{pass}}

    $(function() {
        var data = '';
        var show_graph_lines = true;
        if (data == ''){data = {{=an_array}};}                  
        var options = {
            series: {
                lines: {show: true},                            
                points: {show: true}
            },
            grid: {
                hoverable: true,
                clickable: true
            },
            xaxis:{mode:"time",},
            yaxis: {show: true,},
            selection: {mode: "x"},
        };
        var placeholder = $.plot("#placeholder", [data], options);
        $("#placeholder").bind("plotselected", function (event, ranges) {
            placeholder = $.plot("#placeholder", [data], $.extend(true, {}, options, {
            xaxis: {
                min: ranges.xaxis.from,
                max: ranges.xaxis.to
            },
            lines: { show: show_graph_lines },
            points: { show: true }
            }));
        overview.setSelection(ranges, true);
        }); 
                                       
        function showTooltip(x, y, contents) {
            $("<div id='tooltip'>" + contents + "</div>").css({
            position: "absolute",
            display: "none",
            top: y + 5,
            left: x + 5,
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }           
        var previousPoint = null;
        $("#placeholder").bind("plothover", function (event, pos, item) {
            var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
            $("#hoverdata").text(str);
            if (item) {
                if (previousPoint != item.dataIndex) {         
                    previousPoint = item.dataIndex;
                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);          
                    showTooltip(item.pageX, item.pageY,
                    item.series.label + " of " + x + " = " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;            
            }           
        });   
        $("#placeholder").bind("plotclick", function (event, pos, item) {
            if (item) {
                $("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
                plot.highlight(item.series, item.datapoint);
            }
        });
    });
</script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{=URL('static','js/gmaps.js')}}"></script>
<script>   
$(document).ready(function(){                                                         
    map = new GMaps({
        div: '#map',
        lat:0,
        lng:0 
    });                       
    map.fitZoom();
    options = $.extend({
        scrollwheel: false
    }, options);
}); 
</script>   
<div style="width:100%; height:300px;" id="map" ></div> 
<div class="centered-width">
    <br>
    <p class="lead" style="text-align:left;"><a>discover</a> what's around you</p>
    <p class="lead" style="text-align:left;"><a href="/streams/">watch</a> the world create</p>

    <div>
        <div id="placeholder" style="width:75%;height:250px;display: table;margin: 0 auto;"></div>
    </div>
    <br><br>
    <p style="text-align:left" class="lead">and <a>we're getting stuff done</a></p><hr>
    <br><br>
    <div class="well">
        <p class="lead" style="text-align:left">work with people, together</p>
        <p class="lead" style="text-align:left">donate toward promising projects</p>
        <p class="lead" style="text-align:left"><a href="http://www.epoint.me/">epoint.me</a>, <a href="http://www.givingfor.com/projects/conexus/">givingfor</a>, <a href="http://www.voetr.com/committee/conexus/">voetr</a>, and <a href="http://www.inlrn.com/">inlrn</a> connected</p>
        <br><br>

        <p class="lead" style="text-align:left">democratic</p>
        <p class="lead" style="text-align:left">help change the business model. crowdowned</p>
        <p class="lead" style="text-align:left">we're all cofounders</p>
        <p class="lead" style="text-align:left">paving the way for a transparent future</p>
        <p class="lead" style="text-align:left">receive value for what you do</p>
        <p class="lead" style="text-align:left">crowd funded projects</p>

    </div>
    
    <p class="lead" style="text-align:left">PICTURE</p>
    <img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/>

</div>

<br><br>
<div class="banner-area" id="projects" style="background-color:rgb(100,150,50);border-bottom:3px solid rgb(220,220,220);">
    <br><br><br>
    <p style="float:left;margin-left:6%;"><a style="color:rgb(240,250,255);font-size:24px;font-family:ubuntu;font-weight:bold;" href="/projects/">projects</a></p> 
    <p style="float:right;margin-right:6%;disply:inline;margin-top:-15px;"><i style="font-size:128px;" class="fa fa-wrench fa-inverse"></i></p><br>

    <br><br><br>
</div>
<br>
<div class="centered-width">
    <br><br>
    <div class="well">
        <p class="lead" style="text-align:left;display:inline">open positions</p><br>
        <p class="lead" style="text-align:left;display:inline">task list of things to be done</p><br>
        <p class="lead" style="text-align:left;display:inline">transparent, completly. see what all the team members are doing</p><br>
        <p class="lead" style="text-align:left;display:inline">issue tracking</p><br>
        <p class="lead" style="text-align:left;display:inline">we can do it</p><br>
        <div style="clear:both;"></div>

    </div>
    <p class="lead" style="text-align:left">PICTURE</p>
    <img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/>

    <br><hr><br>

    <div id="project-list-container">
        {{for project in project_list_array[:5]:}}
        <div id="project-list-item" data-content="{{=project[0]['title']}}" class="image-hover">
            <a href="/project/{{=project[0]['url_title']}}/"><p style="text-align:left;">{{=project[0]['title']}}</p></a>
            {{try:}}
            {{picture = project[1][0]['picture']}}
                <a href="/project/{{=project[0]['url_title']}}/"><img style="width:256px;" class="img-polaroid" src="{{=URL('download',args=project[1][0]['picture'])}}"/></a>
            {{except IndexError:}}
                <a href="/project/{{=project[0]['url_title']}}/"><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
            {{pass}}
        </div>
        {{pass}}
        <br><hr><br>
    </div>


</div>
<br><br>

<div class="banner-area" id="events" style="background-color:rgb(140,120,90);border-bottom:3px solid rgb(220,220,220);">
    <br><br><br>
    <p style="float:left;margin-left:6%;disply:inline"><a style="color:rgb(237, 237, 237);;font-size:24px;font-family:ubuntu;font-weight:bold;" href="/events/">events</a></p> 
    <p style="float:right;margin-right:6%;margin-top:-15px;"><i style="font-size:128px;color:rgb(237, 237, 237);" class="fa fa-calendar-o fa-inverse"></i></p><br>

    <br><br><br>
</div>
<div style="background-color:rgb(237, 237, 237);">
<br>
<div class="centered-width">

    <br><br>
    <div class="well">
        <p class="lead" style="text-align:left;display:inline">24/7 global hackathon</p><br>
        <p class="lead" style="text-align:left;display:inline">win prizes</p><br>
        <p class="lead" style="text-align:left;display:inline">collaborative competition</p><br>
        <p class="lead" style="text-align:left;display:inline">let's make awesome things, together</p><br>
        <div style="clear:both;"></div>
    </div>
    <p class="lead" style="text-align:left">PICTURE</p>
    <img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/>

    <br><hr><br>
    <div id="project-list-container">
        {{for event in event_list[:5]:}}
        <div id="project-list-item" data-content="{{=event['title']}}" class="image-hover">
            <a href="/event/{{=event['url_title']}}/"><p style="text-align:left;">{{=event['title']}}</p></a>
            <a href="/event/{{=event['url_title']}}/"><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        {{pass}}
        <br><hr><br>
    </div>

</div>
<br><br>
</div>
<div class="banner-area" id="evolution" style="background-color:rgb(51,72,83);border-bottom:3px solid rgb(220,220,220);">
    <br><br><br>
    <p style="float:left;margin-left:6%;color:rgb(200,200,200);font-size:24px;font-family:ubuntu;font-weight:bold;">evolution</p> 
    <p style="float:right;margin-right:6%;margin-top:-42px;"><i style="font-size:110px;" class="fa fa-thumbs-up fa-inverse"></i></p><br>

    <br><br><br>
</div>
<br><br><br>
<div class="centered-width">
    <div class="well">
        <p class="lead" style="text-align:left;display:inline">tasklists</p><br>
        <p class="lead" style="text-align:left;display:inline">transparency</p><br>
        <br>
        <p class="lead" style="text-align:left;display:inline">once upon a time</p><br>
        <p class="lead" style="text-align:left;display:inline">the world decided to work together</p><br>
        <p class="lead" style="text-align:left;display:inline">toward a common goal</p><br>
        <p class="lead" style="text-align:left;display:inline">conex.us</p><br>
        <div style="clear:both;"></div>

    </div>
    <img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/>


</div>
<br>
<br>
<div id="share-footer" style="text-align:center;">
    <div id="share-footer-container">
        <br><br><br>
        <p class="lead">what are you waiting for?</p>
        <a href="#login-or-signup" class="btn" style="font-size: 24px;padding:15px;">signup</a>
        <br><br><br>
    </div>
</div>

<div id="share-footer">
    <div id="share-footer-container">
    	<div style="float:left;">
    		<h1>share</h1>
    		<p>facebook, twitter, google+, reddit, lealr</p>
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    	</div>

		<div style="float:right;">
		    <h1>get the app</h1>
		    <a href=""><img class="opacity-img" style="height:48px;" src="/conexus/static/images/app_store_icon.png" /></a>
		    <a href=""><img class="opacity-img" style="height:48px;" src="/conexus/static/images/android_marketplace_icon.png" /></a>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
<br>
<br>
<br>
