{{extend 'layout.html'}}
<style>
#index-header{
    //background-color:rgb(247,247,247);
    background-color:rgb(52,73,94);

    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
#index-header p{color:rgb(200,200,200);}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
}
#share-footer-container{margin-left:5%;margin-right:5%;}
#project-list-container{text-align:left;width:100%;}
#project-list-item{border:2px solid rgb(180,180,180);display:inline-block;padding:10px;margin:7px;}
#project-list-item:hover{border:2px solid rgb(110,110,110);display:inline-block;padding:11px;margin:7px;}
#scroller{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
</style>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.selection.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.flot.time.js')}}"></script>
<script language="javascript" type="text/javascript" src="{{=URL(request.application,'static','js/jquery.thumbnailScroller.js')}}"></script>

<div id="index-header">
    <div id="index-header-container">
		<p class="lead">conexus is a team building repo</p>
		<p class="lead">paving the way for a transparent future</p>
    </div>
</div>
</script>
<div style="background-image: url(../conexus/static/images/cam.JPG); height: 600px;">
    <p class="lead" style="text-align:center;">this is some text yo</p>
    <p style="text-align:center"><i style="font-size:256px;color:rgb(240,240,240);" class="fa fa-refresh fa-spin"></i></p>
    <p class="lead" style="text-align:center;">this is some text yo</p>
    <p class="lead btn" style="display:block;margin: 0 auto;width:100px;padding:10px;">i love this</p>

    <br><br>
    <div id="header-search" style="display:block;margin: 0 auto;width:350px">
        <div class="input-append">
            <input type="text">
            <div class="btn-group" style="margin-top:0px;">
                <a href="/search/"><button class="btn" tabindex="-1"><i class="icon-search"></i></button></a>          
            </div>
        </div>
    </div>

</div>
<div id="scroller">
    <!--<img style="" class="" src="/conexus/static/images/cam.JPG"/>-->
    <p style="font-size:100px;text-align:center;color:rgb(200,200,200)">collaboration</p><br><br><br>
    <p class="lead" style="text-align:center;">let's make the world a better place, together.</p>

    <br><br><br>
    <br><br><br>
</div>

<div class="centered-width">

<hr>

	<table style="margin-left:auto;margin-right:auto">
    	<tr>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;">how can we work together for a common goal?</p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;">imagine a 24/7 global hackaton</p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;">crowdsourced team building</p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;">when a fire starts to burn, it starts to spread<span style="font-size:32px;" class="icon-fire"></span></p></td>
        </tr>
    </table>
    <table style="margin-left:auto;margin-right:auto">
        <tr>
            <td style="padding:15px;"><i style="font-size:256px;" class="fa fa-users"></i></td>
            <td style="padding:15px;"><i style="font-size:256px;" class="fa fa-bullhorn"></i></td>
            <td style="padding:15px;"><i style="font-size:256px;" class="fa fa-wrench"></i></td>
            <td style="padding:15px;"><i style="font-size:256px;" class="fa fa-calendar-o"></i></td>
            <td style="padding:15px;"><i style="font-size:256px;" class="fa fa-thumbs-up"></i></td>

        </tr>
    </table>

<br><br><br>
    <table style="margin-left:auto;margin-right:auto">
    	<tr>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/discover/">discover</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/events/">events</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/projects/">projects</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/tasks/">tasks</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/feed/">feed</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/feed/">streams</a></p></td>
            <td><p class="lead" style="text-align:left;padding-left:25px;padding-right:25px;"><a href="/transparency/">transparency</a></p></td>
        </tr>
    </table>

<hr>
<br><br><br>

	<table style="margin: auto;">
		<tr>
            <td style="max-width:33%"><p class="lead" style="text-align:left"><i style="font-size:64px;" class="fa fa-video-camera"></i>streams</p></td>
			<td style="max-width:33%"><p class="lead"><iframe src="//www.youtube.com/embed/8fpZ16cIVAQ?list=UUNceSFBcgkYqv4QiD374VTQ" frameborder="0" allowfullscreen></iframe></p></td>
			<td style="max-width:33%"><p class="lead"><iframe src="//www.youtube.com/embed/xR4ibUq9iVw?list=UUNceSFBcgkYqv4QiD374VTQ" frameborder="0" allowfullscreen></iframe></p></td>
			<td style="max-width:33%"><p class="lead"><iframe src="//www.youtube.com/embed/medBPRNlV0w?list=UUNceSFBcgkYqv4QiD374VTQ" frameborder="0" allowfullscreen></iframe></p></td>
		</tr>
	</table>



</div>

<br><br>
<div style="background-color:rgb(24,95,192);">
    <br><br><br>
    <p style="text-align:center;color:rgb(200,200,200)">connecting us</p> 
    <br><br><br>
</div>
<br><br><br>

<div class="centered-width">

    <td><p class="lead" style="text-align:left;">watch the world create</p></td>
	<p style="text-align:left" class="lead">this is a graph</p><hr>
	<script>
	{{an_array=[]}}
    {{import time}}
    {{array = [1,2,3,4,5]}}
    {{for counter, value in enumerate(array):}}
        {{an_array.append([ value*1000, int(value) ])}}
    {{pass}}

    $(function() {
        var data = '';
        var show_graph_lines = true;
        if (data == ''){data = {{=an_array}};}                  
        var options = {
            series: {
                lines: {show: true},                            
                points: {show: true}
            },
            grid: {
                hoverable: true,
                clickable: true
            },
            xaxis:{mode:"time",},
            yaxis: {show: true,},
            selection: {mode: "x"},
        };
        var placeholder = $.plot("#placeholder", [data], options);
        $("#placeholder").bind("plotselected", function (event, ranges) {
            placeholder = $.plot("#placeholder", [data], $.extend(true, {}, options, {
            xaxis: {
                min: ranges.xaxis.from,
                max: ranges.xaxis.to
            },
            lines: { show: show_graph_lines },
            points: { show: true }
            }));
        overview.setSelection(ranges, true);
        }); 
                                       
        function showTooltip(x, y, contents) {
            $("<div id='tooltip'>" + contents + "</div>").css({
            position: "absolute",
            display: "none",
            top: y + 5,
            left: x + 5,
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }           
        var previousPoint = null;
        $("#placeholder").bind("plothover", function (event, pos, item) {
            var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
            $("#hoverdata").text(str);
            if (item) {
                if (previousPoint != item.dataIndex) {         
                    previousPoint = item.dataIndex;
                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);          
                    showTooltip(item.pageX, item.pageY,
                    item.series.label + " of " + x + " = " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;            
            }           
        });   
        $("#placeholder").bind("plotclick", function (event, pos, item) {
            if (item) {
                $("#clickdata").text(" - click point " + item.dataIndex + " in " + item.series.label);
                plot.highlight(item.series, item.datapoint);
            }
        });
    });
</script>
    
<div>
    <div id="placeholder" style="width:75%;height:250px;display: table;margin: 0 auto;"></div>
</div>
    <p style="text-align:center"><i style="font-size:256px;" class="fa fa-link fa-spin"></i></p>
    <p class="lead" style="text-align:left">work with people, together</p>
    <p class="lead" style="text-align:left">donate toward promising projects</p>
    <p class="lead" style="text-align:left"><a href="http://www.epoint.me/">epoint.me</a> connected, <a href="http://www.givingfor.com/projects/conexus/">givingfor</a> connected, <a href="http://www.voetr.com/committee/conexus/">voetr</a> connected, <a href="http://www.inlrn.com/">inlrn</a> connected</p>
    <p class="lead" style="text-align:left">democratic</p>
    <p class="lead" style="text-align:left">help change the business model. crowdowned</p>
    <p class="lead" style="text-align:left">we're all cofounders</p>
    <p class="lead" style="text-align:left">transparent</p>
    <p class="lead" style="text-align:left">paving the way for a transparent future</p>



</div>

<br><br>
<div style="background-color:rgb(100,150,50);">
    <br><br><br>
    <p style="text-align:center;"><a style="color:rgb(240,250,255)" href="/projects/">projects</a></p> 
    <br><br><br>
</div>
<br><br><br>
<div class="centered-width">
    <div id="project-list-container">
        {{for project in project_list[:10]:}}
        <div id="project-list-item">
            <a href="/project/{{=project['url_title']}}/"><p style="text-align:left;">{{=project['title']}}</p></a>
            <a href="/project/{{=project['url_title']}}/"><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        {{pass}}
        <br><br>
    </div>
    <br><br><br>
    <p class="lead" style="text-align:left">collaboration is good</p>
    <p class="lead" style="text-align:left">i like to work together with people</p>
    <p class="lead" style="text-align:left">group projects can be fun :D</p>
    <p class="lead" style="text-align:left">let's do awesome things</p>
</div>
<br><br>

<div style="background-color:rgb(140,120,90);">
    <br><br><br>
    <p style="text-align:center;"><a style="color:rgb(240,250,255)" href="/events/">events</a></p> 
    <br><br><br>
</div>
<br><br><br>
<div class="centered-width">
    <div id="project-list-container">
        {{for event in event_list[:10]:}}
        <div id="project-list-item">
            <a href="/event/{{=event['url_title']}}/"><p style="text-align:left;">{{=event['title']}}</p></a>
            <a href="/event/{{=event['url_title']}}/"><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
        </div>
        {{pass}}
        <br><br>
    </div>
    <br><br><br>
    <p class="lead" style="text-align:left">24/7 global hackathon</p>
    <p class="lead" style="text-align:left">win prizes</p>
    <p class="lead" style="text-align:left">collaborative competition</p>
    <p class="lead" style="text-align:left">let's make awesome things</p>
    <p class="lead" style="text-align:left">we can do it</p>

</div>
<br><br>

<div style="background-color:rgb(51,72,83);">
    <br><br><br>
    <p style="text-align:center;color:rgb(200,200,200)">evolution</p> 
    <br><br><br>
</div>
<br><br><br>
<div class="centered-width">
    <p class="lead" style="text-align:left">once upon a time</p>
    <p class="lead" style="text-align:left">the world decided to work together</p>
    <p class="lead" style="text-align:left">toward a common goal</p>
    <p class="lead" style="text-align:left">conex.us</p>
</div>


<br>
<br>
<div id="share-footer">
    <div id="share-footer-container">
    	<div style="float:left;">
    		<h1>share</h1>
    		<p>facebook, twittter, reddit, 4chan, lealr</p>
    	</div>
		<div style="float:right;">
		    <h1>get the app</h1>
		    <a href=""><img class="opacity-img" style="height:48px;" src="/conexus/static/images/app_store_icon.png" /></a>
		    <a href=""><img class="opacity-img" style="height:48px;" src="/conexus/static/images/android_marketplace_icon.png" /></a>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
<br>
<br>
<br>
