{{extend 'layout.html'}}


<p class="lead">conexus is a transparency team building crowdowned repo</p>
<p class="lead">paving the way for a transparent future</p>

<br><br>
<p class="lead">cool infographics and stuff</p>
<br><br>

<p class="lead">what are we even doing?</p>

<p class="lead">what can we do to make this life a better ride for us all,</p>
<p class="lead">to help move humanity forward as a species, and to continually foster an environent of convergant evolution?</p>
<p class="lead">how can we build communities, and how can we work together for a common goal?</p>


open info?
transparent?

profit is not monetary.

<p class="lead">
	<a href="/transparency/">transparent</a>, 
    <a href="http://www.github.com/troverman/conexus">opensource</a>, 
    <a href="http://www.github.com/troverman/conexus">crowd owned</a>, 
    <a href="http://www.github.com/troverman/conexus">voetr enabled</a>.
</p>


we are all one, let's feel it


infinity is everything and no thing, nothing. 0 inf = 0 = 1 = 2 = 3 = 4 = 5

<br><br>

bankingfor
givingfor
voetr
evolvedus
conexus


yacht vs life ???

<br><br>

some people have value.. where should value be placed?


<br><br><br><br>
working together for a common goal
what is the goal?


live stream + transparent + convo + soapbox + connecting people + team dynamic + faclilting group thought, not groupthink + feed + voetr leadership + crowdowned + scientific collab + needs / wants + groups + open information + live eeg of ppl + heart rate + AHH + location + feeling + evolved us + inlrn

crowd funded + givingfor

<br><br>
<a href="/groups/">groups</a><br>
<a href="/projects/">projects</a><br>
<a href="/events/">events</a><br>
<br>
<br>
crowdsourced team building
