{{extend 'layout.html'}}
<style>
#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
}
#share-footer-container{margin-left:5%;margin-right:5%;}

    .img-polaroid{padding:2px;}
	a{cursor: pointer;}
    #content { }
    #right { 
        width: 255px;
        float: right;
		padding-left:5px;
		padding-right:5px; 
    }
    #left {
        width: 175px; 
        float: left;
    	border-right:1px solid rgb(238,238,238);  
		padding-left:15px;    
    }


</style>


<div id="index-header">
    <div id="index-header-container">
    	<h1>{{=project_from_url['title']}}</h1>
    </div>
</div>
<div class="alert fade in">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Holy guacamole!</strong> You look awesome :D.
</div>
      
<div class="centered-width">
	<div id="left">
		<h4>hi</h4>
	</div>
	<div id="right">
		<div class="well">
			<h3><a>join</a></h3>
			<h3><a>request to join</a></h3>
			<h3><a>members</a></h3>
			{{=project_member_array}}
			<h3><a>voetr committee</a></h3>
			<h3><a>givingfor project</a></h3>
			<h3>finance</h3>
			<h3>feed</h3>
			<h3>notices</h3>
			<h3><a>tasks</a></h3>
			<h3><a>settings</a></h3>
			<p>require inlrn degree</p>
			<p>epoint<a href="">market</a> buy points at x value, like a stock / store credit. transparent and open..</p>
		</div>
	</div>
	<div id="content">
		<h3>description</h3>
		<table class="table table-hover">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Trevor</td>
				<td>Overman</td>
				<td>@troverman</td>
			</tr>
			<tr>
				<td>Mikey</td>
				<td>Thompson</td>
				<td>@fat</td>
			</tr>
			<tr>
				<td colspan="2">hahahah</td>
				<td>@lol</td>
			</tr>
		</tbody>
		</table>
		
		{{for x in range(200):}}
			<p class="lead">{{=x}}</p><br>
		{{pass}}
	</div>
</div>
<br><br><br><br>