{{extend 'layout.html'}}
<style>
#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
}
#share-footer-container{margin-left:5%;margin-right:5%;}

.img-polaroid{padding:2px;}
a{cursor: pointer;}
#content { }
#right { 
	width: 255px;
	float: right;
	padding-left:5px;
	padding-right:5px; 
}
#left {
	width: 175px; 
	float: left;
	border-right:1px solid rgb(238,238,238);  
	padding-left:15px;    
}
.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;      
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}



</style>


<div id="index-header">
    <div id="index-header-container">
    	<h3><a>{{=project_from_url['title']}}</a></h3>
    </div>
</div>
<div class="alert fade in">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Holy guacamole!</strong> You look awesome :D.
</div>
      
<div class="centered-width">
	<div id="left">
		<h4>announcements</h4>
		<h4><a href="/project/{{=project_from_url['url_title']}}/">feed</a></h4>
		<h4><a href="/project/{{=project_from_url['url_title']}}/pages/">pages</a></h4>
		<h4><a href="/project/{{=project_from_url['url_title']}}/streams/">streams</a></h4>
		<h4><a href="/project/{{=project_from_url['url_title']}}/tasks/">tasks</a></h4>

	</div>
	<div id="right">
		<div class="well">

		    <div class="project-join" id="join-project-{{=project_from_url['id']}}" style="float:left;margin-right:10px;">
		        <form style="display:none"><input type="hidden" id="" name="join-{{=project_from_url['id']}}" value="{{=project_from_url['id']}}" /></form> 
		        <a onclick="ajax('/ajax_join_project/', ['join-{{=project_from_url['id']}}'], ':eval');">
		        <h5 class="btn">join</h5>      
		        </a>
		    </div>
		    <br><br>

			<h4><a>settings</a></h4>
			<p>require inlrn degree</p>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4 class="panel-title"><a href="http://www.givingfor.com/projects/">givingfor</a></h4>
		  </div>
		  <div class="panel-body">
		    donation<br>
		    donation<br>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4 class="panel-title"><a href="/project/{{=project_from_url['url_title']}}/members/">members</a></h4>
		  </div>
		  <div class="panel-body">
			{{for member in project_member_list:}}
				<h4><a>{{=member}}</a></h4>
			{{pass}}
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4 class="panel-title"><a href="/project/{{=project_from_url['url_title']}}/finance/">finance</a></h4>
		  </div>
		  <div class="panel-body">
		    money<br>
			<p>epoint <a href="">market</a> buy points at x value, like a stock / store credit. transparent and open..</p>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4 class="panel-title"><a href="/project/{{=project_from_url['url_title']}}/tools/">tools</a></h4>
		  </div>
		  <div class="panel-body">
		    github<br>
		    google docs / pages<br>
		    python editor, collab code<br>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4 class="panel-title"><a href="http://www.voetr.com/committees/">voetr</a></h4>
		  </div>
		  <div class="panel-body">
		    vote<br>
		    vote<br>
		  </div>
		</div>
	</div>
	<div id="content" style="float:left;">

		{{if request.args(1) is None:}}
			<h4>description</h4>
			    <ul class="nav nav-tabs">
				    <li><a href="#home" data-toggle="tab">feed</a></li>
				    <li><a href="#profile" data-toggle="tab">tasks</a></li>
				    <li><a href="#messages" data-toggle="tab">finance</a></li>
				    <li><a href="#settings" data-toggle="tab">members</a></li>
			    </ul>
			
			{{for x in range(20):}}
				<p class="lead">{{=x}}</p>
			{{pass}}
		{{elif request.args(1) == 'members':}}
			{{for member in project_member_list:}}
				<h4><a>{{=member}}</a></h4>
			{{pass}}
		{{elif request.args(1) == 'pages':}}
			<a>+ new page</a>
			<h1>pages</h1>
		{{elif request.args(1) == 'streams':}}
			<h1>streams</h1>
			{{for x in range(30):}}
				{{=x}}
			{{pass}}
		{{elif request.args(1) == 'tasks':}}
			<a>+ new task</a>
			<h1>tasks</h1>
		{{else:}}
		{{pass}}
	</div>
	<div style="clear:both;"></div>
</div>
<br><br><br><br>