{{extend 'layout.html'}}
<style>
#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
}
#share-footer-container{margin-left:5%;margin-right:5%;}
#item-block-list-item{border:1px solid rgb(225,225,225);display:inline-block;padding:10px;margin:7px;border-radius:5px;}
#item-block-list-item:hover{border:1px solid rgb(200,200,200);display:inline-block;padding:11px;margin:7px;background-color:rgb(255,255,255);border-radius:5px;}

</style>
<div id="index-header">
    <div id="index-header-container">
        <h3 style="color:rgb(80, 84, 92);font-size:45px;float:left"><i class="fa fa-wrench"></i> projects</h3><br>
        {{if auth.is_logged_in():}}
        <a data-toggle="modal" href="#new-project" class="lead btn" style="text-align:center;float:right">+ new project</a>
        {{else:}}
            <a data-toggle="modal" href="#login-or-signup" class="lead btn" style="text-align:center;float:right">+ new project</a>
        {{pass}}
        <div style="clear:both;"></div>
    </div>
</div>

<div style="margin-left:5%;">

    <div class="dropdown" style="float:right;margin-right:15px;">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">sort by: <b style="margin-left:5px;"class="caret"></b></a>
        <ul class="dropdown-menu pull-right" style="left:auto;width:158px;min-width:0px;" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="#">most recent</a></li>
            <li><a tabindex="-1" href="#">relevancy</a></li>
            <li><a tabindex="-1" href="#">highest price</a></li>
            <li><a tabindex="-1" href="#">lowest price</a></li>
        </ul>
    </div>
    <div class="btn-toolbar" style="margin-left:15px;float:left;">
        <div class="btn-group">
            <a class="btn active" id="view-list"><i class="icon-align-justify"></i></a>
            <a class="btn" id="view-table"><i class="icon-th"></i></a>
        </div>
    </div>
    <hr><br>

    <div id="item-list-container" style="">
        <br>
        <hr>
        {{for project in project_list_array:}}
            {{try:}}
            {{picture = project[1][0]['picture']}}
                <a href="/project/{{=project[0]['url_title']}}/"><img style="height:64px;float:left;" class="img-polaroid" src="{{=URL('download',args=project[1][0]['picture'])}}"/></a>
            {{except IndexError:}}
            {{pass}}
            <h3 style="float:left;margin-left:15px;"><a href="/project/{{=project[0]['url_title']}}/">{{=project[0]['title']}}</a></h3>
            <h3 style="float:right;margin-right:15px;" class="btn">follow</h3>
            <h3 style="float:right;margin-right:15px;"><a href="">x followers</a></h3>
            <div style="clear:both;"></div>
            <hr><br>
        {{pass}}
    </div>
    <div id="item-block-list-container" style="display:none;">
        {{for project in project_list_array:}}
            <div id="item-block-list-item">
                {{try:}}
                {{picture = project[1][0]['picture']}}
                    <a href="/project/{{=project[0]['url_title']}}/"><img style="width:256px;" class="img-polaroid" src="{{=URL('download',args=project[1][0]['picture'])}}"/></a>
                {{except IndexError:}}
                    <a href="/project/{{=project[0]['url_title']}}/"><img style="width:256px;" class="img-polaroid" src="/conexus/static/images/noimage-icon.png"/></a>
                {{pass}}
                <h4><a href="/project/{{=project[0]['title']}}">{{=project[0]['title']}}</a></h4>
                <h4><a href="/project/{{=project[0]['title']}}">x followers</a></h4>
            </div>
        {{pass}}
    </div>

</div>

<br><br><br><br>


<div class="modal fade" id="new-project" style="display:none;">
    <div class="modal-header" id="new-project-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>+ new project</h3>
    </div>
    <br>
    <div class="modal-body" style="">
        <p class="lead">description and such</p>
        {{=create_project}}
        <div id="external-login" style="display: table;margin: 0 auto;">
        <a id="facebook-login">table link 1</a>
        <a id="twitter-login">table link 2</a>
        <a id="google-login">table link 3</a> 
        </div>
    </div>
    <div class="modal-footer">
        footer
    </div>
</div> 

<script>
    $("#new-project" ).draggable({handle:"#new-project-header", cursor:"move"}); 
    $("#view-list").click(function() {
        if ($(this).hasClass("active")){}
        else{
            $(this).addClass("active");
            $("#view-table").removeClass("active");
            $("#item-block-list-container").fadeToggle(); 
            $("#item-list-container").fadeToggle();
        }
    });
    $("#view-table").click(function() {
        if ($(this).hasClass("active")){}
        else{
            $(this).addClass("active");
            $("#view-list").removeClass("active");
            $("#item-block-list-container").fadeToggle(); 
            $("#item-list-container").fadeToggle();
        }
    });
</script>
