{{extend 'layout.html'}}
<style>
#index-header{
    background-color:rgb(247,247,247);
    border-bottom:1px solid rgb(225, 225, 225);
    padding-top:15px;
    padding-bottom:15px;
}
#index-header-container{
    margin-left:5%;
    margin-right:5%;
}
#share-footer{
    background-color:rgb(247,247,247);
    border-top:1px solid rgb(225, 225, 225);
}
#share-footer-container{margin-left:5%;margin-right:5%;}

.img-polaroid{padding:2px;}
a{cursor: pointer;}
#content { }
#right { 
	padding-right:3%;
	width: 255px;
	float: right;
	padding-left:5px;
	//padding-right:5px; 
	border-left:1px solid rgb(238,238,238);  
	border-bottom:1px solid rgb(238,238,238);  

}
#left {
	padding-left:3%;
	width: 175px; 
	float: left;
	border-right:1px solid rgb(238,238,238);  
	padding-bottom:20px; 
	border-bottom:1px solid rgb(238,238,238);  
}
#collapsed-left {
        float: left;
		border-bottom:1px solid rgb(238,238,238);
    	border-right:1px solid rgb(238,238,238);
    	padding-left:7px;
		padding-right:7px;
}
#collapsed-left:hover {
        float: left;
    	padding-left:7px;
		padding-right:7px;
		background-color:rgb(245,245,248);
        border-right:1px solid rgb(235,235,238);
		border-bottom:1px solid rgb(235,235,238)
}
#collapse-left {
        padding-left:5px;
        padding-right:5px;
        float:right;
        border-left:1px solid rgb(238,238,238);
        border-bottom:1px solid rgb(238,238,238);
}
#collapse-left:hover {
        padding-left:5px;
        padding-right:5px;
        float:right;
        background-color:rgb(245,245,248);
        border-left:1px solid rgb(235,235,238);
		border-bottom:1px solid rgb(235,235,238) 
}
.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;      
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}



</style>
<script type="text/javascript" src="{{=URL(request.application,'static','js/jquery.tagsinput.js')}}"></script>  
<link rel="stylesheet" type="text/css" href="/conexus/static/css/jquery.tagsinput.css" />
<script>
 	function onAddTag_marketplace(tag) {
		ajax('ajax_add_tag_collection', ['collection_add_tag_form'], ':eval');
 	}
	$(document).ready(function(){      
	    $('#sidebar_add_tag_form').tagsInput({
	        onAddTag:onAddTag_marketplace,
	        onRemoveTag:onAddTag_marketplace,
	        'defaultText':'tags',
	        'width':'auto',
	        'height':'auto'     
	    });  
	    $("#view-list").click(function() {
	        if ($(this).hasClass("active")){}
	        else{
	            $(this).addClass("active");
	            $("#view-table").removeClass("active");
	            $("#item-block-list-container").fadeToggle(); 
	            $("#item-list-container").fadeToggle();
	        }
    	});
    	$("#view-table").click(function() {
	        if ($(this).hasClass("active")){}
	        else{
	            $(this).addClass("active");
	            $("#view-list").removeClass("active");
	            $("#item-block-list-container").fadeToggle(); 
	            $("#item-list-container").fadeToggle();
	        }
    	});

	    $("#collapse-left").click(function() {	
			$("#left").fadeToggle(300);
			$("#collapsed-left").delay(300).fadeToggle(300);
			$("#feed-list").css("margin-left","0px");	

		});
		$("#open-left").click(function() {	
			$("#collapsed-left").fadeOut(300);	
			$("#left").delay(300).fadeIn(300);	
			$("#feed-list").css("margin-left","175px");	

		});
	    $("#close-ad").click(function() {       
	        $("#ad_block").fadeToggle();        
	    });                                                 
	});

</script>  

<div id="index-header">
    <div id="index-header-container">
    	{{try:}}
    	{{picture = project_picture[0]['picture']}}
			<img src="{{=URL('download',args=picture)}}" style="height:64px;float:left;" class="img-polaroid" />
    	{{except IndexError:}}
    	{{pass}}
    	<h3 style="float:left;margin-left:15px;"><a href="/project/{{=project_from_url['url_title']}}/">{{=project_from_url['title']}}</a></h3>
    	<div style="clear:both;"></div>
    </div>
</div>

<!--<div class="alert fade in">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Holy guacamole!</strong> You look awesome :D.
</div>-->
      
	<div id="collapsed-left" style="display:none;">
	    <a id="open-left">
	        <div style="">
	        	<h5 title="expand" style="margin:0px;padding:3px;"> >> </h5>
	        </div>
	    </a>
	</div>

	<div id="left">
    <a id="collapse-left"> <h5 style="margin:0px;padding:3px;" title="minimize"> << </h5> </a>
    <br>
		<h5><a href="/project/{{=project_from_url['url_title']}}/calendar/"><i style="margin-right:15px;" class="fa fa-calendar"></i> calendar</a></h5>
		<h5><a href="/project/{{=project_from_url['url_title']}}/discussion/"><i style="margin-right:15px;" class="fa fa-comments-o"></i> discussion</a></h5>
		<h5><a href="/project/{{=project_from_url['url_title']}}/documents/"><i style="margin-right:15px;" class="fa fa-folder-open"></i> documents</a></h5>
		<h5><a href="/project/{{=project_from_url['url_title']}}/feed/"><i style="margin-right:15px;" class="fa fa-bars"></i> feed</a></h5>
		<h5><a href="/project/{{=project_from_url['url_title']}}/finance/"><i style="margin-right:15px;" class="fa fa-money"></i> finance</a></h5>

		<h5><a href="/project/{{=project_from_url['url_title']}}/members/"><i style="margin-right:15px;" class="fa fa-users"></i> members</a></h5>
		<h5><a href="/project/{{=project_from_url['url_title']}}/pages/"><i style="margin-right:15px;" class="fa fa-file-text-o"></i> pages</a></h5>
		<h5><a href="/project/{{=project_from_url['url_title']}}/projects/"><i style="margin-right:15px;" class="fa fa-wrench"></i> projects</a></h5>
		<h5><a href="/project/{{=project_from_url['url_title']}}/settings/"><i style="margin-right:15px;" class="fa fa-cog"></i> settings</a></h5>

		<h5><a href="/project/{{=project_from_url['url_title']}}/streams/"><i style="margin-right:15px;" class="fa fa-video-camera"></i> streams</a></h5>
		<h5><a href="/project/{{=project_from_url['url_title']}}/tasks/"><i style="margin-right:15px;" class="fa fa-tasks"></i> tasks</a></h5>
		<h5><a href="/project/{{=project_from_url['url_title']}}/tools/"><i style="margin-right:15px;" class="fa fa-code"></i> tools</a></h5>
		<h5><a href="/project/{{=project_from_url['url_title']}}/voetr/"><i style="margin-right:15px;" class="fa fa-check-square"></i> voetr</a></h5>


		{{if request.args(1) is None:}}

		{{elif request.args(1) == 'members':}}
			<hr>
			<p> member filter </p>
			search
			<input name="" type="text" /></div>

		{{elif request.args(1) == 'tasks':}}
			<hr>
			<div style="margin-right:16px;" id="div_sidebar_add_tag"><input name = "sidebar_add_tag" type="text" id="sidebar_add_tag_form" /></div><br>   
			    <hr style="margin-top:10px;"><br>
			    <div id="tag-list">
			      {{for tag in reversed(tag_task_list_sorted_by_total_count):}}
			        <div id="tag-list-item" style="margin-right:15px;font-family:ubuntu;">                         
			          <a href="/tags/{{=tag[0]}}" >{{=tag[0]}}</a>
			          <a style="color:rgb(210,210,210);" href="/tags/{{=tag[0]}}"> ( {{=tag[1]}} ) </a>
			          <a id="plus-{{=tag[0]}}" class="filter_tag_item" onclick="add_tag_sidebar('{{=tag[0]}}');" >+</a>                        
			          <script>
			            function add_tag_sidebar(tag){
			              if ($('#sidebar_add_tag_form').tagExist(tag)) {
			                $('#sidebar_add_tag_form').removeTag(tag);
			              }
			              else{
			                $('#sidebar_add_tag_form').addTag(tag);
			              }
			            }
			          </script>
			        </div>
			      {{pass}}
			    <br>
			    <p style="text-align:center;"><a>view more</a></p>
			  </div>

		{{else:}}

		{{pass}}


	</div>
	<div id="right">

		{{member_joined=db((db.project_member.member_id == auth.user_id) & (db.project_member.project_id == project_from_url['id'])).select()}}
		{{if member_joined:}}
		{{else:}}
		<div class="project-join" id="join-project-{{=project_from_url['id']}}" style="float:left;margin-right:10px;">
		    <form style="display:none"><input type="hidden" id="" name="id" value="{{=project_from_url['id']}}" /></form> 
		    <a onclick="ajax('/ajax_join_project/', ['id'], ':eval');">
		    	<h5 class="btn">join (n)</h5>      
		    </a>
		</div>
		{{pass}}
		<br><br>
		<a class="btn">follow (n)</a>
		<br><br>
		<h5><a>members</a></h5>
		<hr>
		<div style="padding:5px;">
		{{for member in the_project_member_list:}}
			<h4><a href="/member/{{=member['username']}}/">{{=member['username']}}</a></h4>
		{{pass}}
		</div>
		<a href="/project/{{=project_from_url['url_title']}}/members/">see all</a>
		<br><br>
		


		<div class="well">
			<i style="font-size:64px" class="fa fa-money"></i>
			<p class="lead">to enable donations <a href="/project/{{=project_from_url['url_title']}}/givingfor/">connect</a> to givingfor</p>
		</div>
		<div class="well">
			<i style="font-size:64px" class="fa fa-check"></i>
			<p class="lead">to enable collective decision making <a href="/project/{{=project_from_url['url_title']}}/voetr/">connect</a> to voetr</p>
		</div>





	</div>
<div style="padding-left:3%;padding-right:3%;">

	<div id="content" style="">


		{{if request.args(1) is None:}}

			<h3 style="margin-left:15px;display:inline-block;"><i style="margin-right:15px;" class="fa fa-bars"></i> feed</h3>
			<p style="float:right">filters</p>
			<hr><br>
			
			<div id="feed-list" style="margin-left:175px;margin-right:255px;">
				<div id="feed-item">

				</div>
				{{for feed in feed_array:}}
					<div class="panel panel-default" style="margin:15px;">
						<div class="panel-body">
							{{=feed}}
							<br><br>
							<a>comment</a>
							<br><br>
						</div>
					</div>
				{{pass}}
			</div>
			<p style="text-align:center" class="lead"><a>more</a></p>

		{{elif request.args(1) == 'settings':}}
			<h3 style="display:inline-block;margin-left:15px;"><i style="margin-right:15px;" class="fa fa-cog"></i> settings</h3><hr>

			<a>project picture</a>
			<a>parent projects</a>

			{{=edit_project_picture}}


			<a>+ new member group</a>
			<h1>member group</h1>
			{{for membergroup in membergroup_array:}}
				{{=membergroup}}
			{{pass}}
			<a>+ permission</a>
			<h1>permissions</h1>

			<br><br><br>
			<h3>connect to givingfor</h3>
			<h3>connect to voetr</h3>

			<h3>leave project</h3>
			<br><br>
			<hr>

		{{elif request.args(1) == 'members':}}
			<h3 style="display:inline-block;margin-left:15px;"><i style="margin-right:15px;" class="fa fa-users"></i> members</h3><hr>

			<a>teams</a>
			{{for member in the_project_member_list:}}
			    <a style="display:inline-block;margin-left:15px;" href="/member/{{=member['username']}}/"><img src="" style="height:64px;" class="img-polaroid" /></a>
				<h4 style="display:inline-block;margin-left:15px;"><a href="/member/{{=member['username']}}/">{{=member['username']}}</a></h4>
				<br>
				<br>
				<p style="margin-left:15px;color:rgb(150,150,150)">description / member group / tasks</p>
				<br><br><br>
				<hr>
			{{pass}}
		{{elif request.args(1) == 'pages':}}
			<h3 style="display:inline-block;margin-left:15px;"><i style="margin-right:15px;" class="fa fa-file-text-o"></i> pages</h3><hr>

            <a style="display:inline-block;margin-left:15px;" data-toggle="modal" href="#new-page">+ new page</a><hr>
            {{for page in page_list:}}
                <a style="display:inline-block;margin-left:15px;" class="lead" href="/project/{{=project_from_url['url_title']}}/page/{{=page['id']}}/">{{=page['title']}}</a><br>
            {{pass}}
        {{elif request.args(1) == 'page':}}

            {{if request.args(2):}}
            	<h3 style="display:inline-block;margin-left:15px">{{=page_content[0]['title']}}</h3>
            	<hr>
            	<div style="margin:25px;display:inline-block">
            		{{=XML(page_content[0]['page_content'])}}
            	</div>
            	{{for x in range(20):}}
            	<h5>comment {{=x}}</h5>
            	{{pass}}
            {{pass}}


		{{elif request.args(1) == 'streams':}}
			<h3 style="display:inline-block;margin-left:15px;"><i style="margin-right:15px;" class="fa fa-video-camera"></i> streams</h3>
			<script>
			(function(){
			  var mediaOptions = { audio: false, video: true };
			 
			  if (!navigator.getUserMedia) {
			      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
			  }
			 
			  if (!navigator.getUserMedia){
			    return alert('getUserMedia not supported in this browser.');
			  }
			 
			  navigator.getUserMedia(mediaOptions, success, function(e) {
			    console.log(e);
			  });
			 
			  function success(stream){
			    var video = document.querySelector("#player");
			    video.src = window.URL.createObjectURL(stream);
			  }
			})();
			</script>
			<style>
			#player {
			  width: 500px;
			  height: 500px;
			}
			</style>
			<br><br>
			<div id="video-div" style="margin-left:10%;margin-right:10%;display:inline">
			    <video id="player" autoplay="true"></video>
			</div>
		{{elif request.args(1) == 'tasks':}}
			<h3 style="display:inline-block;margin-left:15px;"><i style="margin-right:15px;" class="fa fa-tasks"></i> tasks</h3><hr>
            <a style="display:inline-block;margin-left:15px;" data-toggle="modal" href="#new-task">+ new task</a><hr>

		    <div class="btn-toolbar" style="margin-left:15px;float:left;">
		        <div class="btn-group">
		            <a class="btn active" id="view-list"><i class="icon-align-justify"></i></a>
		            <a class="btn" id="view-table"><i class="fa fa-calendar"></i> </a>
		        </div>
		    </div>

		   <p>tasks can have the ability to generate value through epoint.me and custom markets! :)</p>
		    <br><br><br>
		    show completed
   			{{for task in task_list:}}
				<h5>{{=task['title']}}</h5>
				<h5>{{=task['description']}}</h5>
				<h5>{{=task['task_member_array']}}</h5>
				<h5>{{=task['task_start_time']}}</h5>
				<h5>{{=task['task_end_time']}}</h5>
				<br>
			{{pass}}
		{{elif request.args(1) == 'tools':}}
		<h5>repos</h5>
		<h5>video editing</h5>
		<h5>collaborative drawing</h5>
		<h5>collaborative docs</h5>
		<h5>streaming</h5>

		<iframe style="width:800px;height:800px" name="Stack" src="https://etherpad.wikimedia.org/p/test" frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);' />

		{{elif request.args(1) == 'calendar':}}
			<h3 style="display:inline-block;margin-left:15px;"><i style="margin-right:15px;" class="fa fa-calendar"></i> calendar</h3><hr>
			<link href='/conexus/static/css/fullcalendar.css' rel='stylesheet' />
			<link href='/conexus/static/css/fullcalendar.print.css' rel='stylesheet' media='print' />
			<script src='/conexus/static/js/lib/jquery.min.js'></script>
			<script src='/conexus/static/js/lib/jquery-ui.custom.min.js'></script>
			<script src='/conexus/static/js/fullcalendar.min.js'></script>

			<script>
				$(document).ready(function() {
					var date = new Date();
					var d = date.getDate();
					var m = date.getMonth();
					var y = date.getFullYear();

					var calendar = $('#calendar').fullCalendar({
						header: {
							left: 'prev,next today',
							center: 'title',
							right: 'month,agendaWeek,agendaDay'
						},
						selectable: true,
						selectHelper: true,
						select: function(start, end, allDay) {
							var title = prompt('Event Title:');
							if (title) {
								calendar.fullCalendar('renderEvent',
									{
										title: title,
										start: start,
										end: end,
										allDay: allDay
									},
									true // make the event "stick"
								);
							}
							calendar.fullCalendar('unselect');
						},
						editable: true,
						events: [
							{{import time}}
							{{for task in task_list:}}
								{
									title: '{{=task['title']}}',
									start: new Date({{=time.mktime(task['task_start_time'].timetuple())*1000}}),
									end: new Date({{=time.mktime(task['task_end_time'].timetuple())*1000}}),
									allDay: false
								},
							{{pass}}
						]
					});
				});

			</script>
			<style>
				#calendar {
					width: 900px;
					height: auto;
					margin: 0 auto;
					}
			</style>
			<div style="display:inline-block;" id="calendar"></div>
		{{elif request.args(1) == 'finance':}}
		<h3>create new givingfor campaign</h3>
	    <table class="table table-striped" style="width:50%">
	        <thead>
	            <tr>
	            	<th>Month</th>
	                <th>Total revenue (select single currency, or see value breakdown)</th>
	                <th>Expenses</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td>January</td>
	                <td>888,888</td>
					<td>8</td>
	            </tr>
	            <tr>
	                <td>February</td>
	                <td>888,888,888</td>
					<td>88</td>

	            </tr>
	            <tr>
	                <td>March</td>
	                <td>888,888,888,888</td>
					<td>888</td>
	            </tr>
	        </tbody>
	    </table>
	    <a>contracts via teams etc</a>
		{{else:}}
		{{pass}}
	</div>
	<div style="clear:both;"></div>
</div>





<div class="modal fade" id="new-page" style="display:none;">
    <div class="modal-header" id="new-page-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>+ new page</h3>
    </div>
    <br>
    <div class="modal-body" style="">
        {{=create_new_page_form}}
    </div>
    <div class="modal-footer">
    </div>
</div> 

<div class="modal fade" id="new-task" style="display:none;">
    <div class="modal-header" id="new-task-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>+ new task</h3>
    </div>
    <br>
    <div class="modal-body" style="">
		{{=form_create_task}}
    </div>
    <div class="modal-footer">
    </div>
</div> 



<script>
    $("#new-page").draggable({handle:"#new-page-header", cursor:"move"}); 
	$("#new-task").draggable({handle:"#new-task-header", cursor:"move"}); 

</script>


<br><br><br><br>